.api h6 {
  color: $color-attribute;
  font-size: 1em;
  line-height: 1.8em;
  margin-top: 1.8em;
  padding-top: 1.8em;
  margin-bottom: 1.8em;
}

.api h4 {
  margin-left: -1.5em;
  font-size: 30px;
  margin: 0 -0.6em 0;
}

.api h6 span {
  font-weight: 400;
}

.api .class {
  color: $color-value;
}

.api .arrow {
  color: $color-value;
  margin: 0 0.25em;
}

.api .key {
  font-style: italic;
}

.api .parameter {
  color: $color-literal;
}

.api .return {
  color: $color-attribute;
}

.api > hr {
  height: 1.8em;
  margin-bottom: 1.8em;
}

.api > hr:last-of-type {
  display: none;
}

.light {
  color: #aaa;
}

nav ul.api {
  list-style-type: none;
  margin-left: 0;
  color: $color-secondary;
  font-family: $mono-font;

  li {
    font-size: 0.75em;
    line-height: 0.75em;
  }

  li:before {
    content: '⇒';
    width: 1em;
    font-size: 0.75em;
    line-height: 1.25em;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1em;
    margin-right: 1em;
  }

  li.property:before {
    content: '↣';
  }

  li a {
    text-decoration: none;
    color: $color-literal;
  }

  li a:hover {
    color: $color-accent;
  }
}
