/* Minimal reset. */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables";

::selection {
  color: $color-background;
  background-color: $color-literal;
}

@import "fonts";
@import "code";
@import "page";
@import "nav";
@import "api";
@import "home";
@import "media";
