.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
 }

.flex-column  {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.row [class^="col-"] img {
  width: 100%;
}

// card class for card style flex grids
.card {
  text-align: center;
  padding: 5px 5px 5px 10px;
  .footer {
    background-color: #FFFFFF;
    border-bottom: 2px solid #DDDDDD;
    padding: 0 12px 12px 12px;
  }
}

.row {
  .card:nth-child(2n) {
    padding: 5px 10px 5px 5px;
  }
  .card:nth-child(-n+2) {
    padding-top: 10px;
  }
}

.col, [class*='col-'] {
  box-sizing: border-box;
  flex: 0 0 auto;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-0-5 {
  flex-basis: 4.166%;
  max-width: 4.166%;
}

.col-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-1-5 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

.col-2 {
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-2-5 {
  flex-basis: 20.834%;
  max-width: 20.834%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-3-5 {
  flex-basis: 29.167%;
  max-width: 29.167%;
}

.col-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-4-5 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}

.col-5 {
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-5-5 {
  flex-basis: 45.834%;
  max-width: 45.834%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-6-5 {
  flex-basis: 54.167%;
  max-width: 54.167%;
}

.col-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-7-5 {
  flex-basis: 62.5%;
  max-width: 62.5%;
}

.col-8 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-8-5 {
  flex-basis: 70.833%;
  max-width: 70.833%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-9-5 {
  flex-basis: 79.167%;
  max-width: 79.167%;
}

.col-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-10-5 {
  flex-basis: 87.5%;
  max-width: 87.5%;
}

.col-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-11-5 {
  flex-basis: 95.833%;
  max-width: 95.833%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-offset-1 {
  margin-left: 8.333%;
}

.col-offset-2 {
  margin-left: 16.667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.333%;
}

.col-offset-5 {
  margin-left: 41.667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.333%;
}

.col-offset-8 {
  margin-left: 66.667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.333%;
}

.col-offset-11 {
  margin-left: 91.667%;
}

.start {
  justify-content: flex-start;
  text-align: start;
}

.center {
  justify-content: center;
  text-align: center;
}

.end {
  justify-content: flex-end;
  text-align: end;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.stretch {
  align-items: strech;
}

.grow-2 {
  flex-grow: 2;
}
